@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background: #222222;
}

body {
    font-family: 'Public Sans', sans-serif;
    background-color: var(--background);
}

hr {
    border: 1px solid black;
}

h1 {
    padding-bottom: 2rem;
    text-align: center;
}

.move__up {
    position: relative;
    bottom: 1.5rem;
}

/* card area style */

.card__area {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 24% 24% 24% 24%;
    max-width: 39.6rem;
    padding: 0.7svh 0;
    background-color: var(--background);
    border-radius: 7px;
    gap: 4px;
}

.card {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    justify-content: center;
    align-items: flex-start;
    padding: 1.3rem;
    background-color: white;
    border-radius: 7px;
    gap: 0.4rem;
}

.sub__heading {
    font-size: 0.7em;
}

.amount {
    font-size: 1.1em;
    font-weight: 600;
}

/* graph style */

.graph__wrapper {
    border: 2px solid black;
    max-width: 39.7rem;
    padding: 1.5rem 1rem 2rem 1rem;
    border-radius: 7px;
    background-color: white;
}

.graph__area {
    display: flex;
    min-height: 15rem;
    gap: 0.3rem;
}

.y__values, .graph__ticks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.graph__ticks {
    position: relative;
    right: 0.55rem;
    font-weight: 700;
}

.data__area {
    width: 36.5rem;
    position: relative;
    right: 1rem;
    top: 1.4rem;
}

.bar__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 6%);
    align-items: flex-end;
    min-height: 15rem;
    justify-content: space-around;
}

.bar {
    background-color: aquamarine;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
}

.bar:hover {
    cursor: pointer;
    background-color: rgb(42, 202, 148);
}

.x__values {
    margin-top: 0.2rem;
    display: grid;
    grid-template-columns: repeat(12, 6%);
    justify-content: space-around;
    max-width: 36.5rem;
}

.x__value {
    text-align: center;
}



@media (min-width: 300px) {

    h1 {
        font-size: 1.2em;
    }

    .card__area {
        grid-template-columns: 49.9% 49.9%;
    }
    
    .bar__wrapper {
        grid-template-columns: repeat(6, 12%);
    }
    
    .x__values {
        grid-template-columns: repeat(6, 12%);
    }

    .desktop__graph {
        display: none;
    }
}
 
@media (min-width: 800px) {
    
    .bar__wrapper {
        grid-template-columns: repeat(12, 6%);
    }
    
    .x__values {
        grid-template-columns: repeat(12, 6%);
    }

    .desktop__graph {
        display: block;
    }

    .mobile__graph {
        display: none;
    }
}